.psgtooltip {
  position: relative;
  display: inline-block;
}

.psgtooltip .psgtooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.psgtooltip .psgtooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.psgtooltip:hover .psgtooltiptext {
  visibility: visible;
  opacity: 1;
}

.bqred {
  border-style: none none none solid;
  border-color: red;
  padding: 20px 50px;
  margin-left: 20px;
  margin-right: 20px;
}

.codetype
{
  font-family: 'Courier New', Courier, monospace;
}

.codechild
{
  font-family: 'Courier New', Courier, monospace;
  margin-left: 50px;
  margin-right: 50px;
}

.codeparent
{
  font-family: 'Courier New', Courier, monospace;
  margin-left: 10px;
  margin-right: 10px;
}

.psgtable
{
  width: 100%;
  border: solid 1px;
  padding: 10px;
}

.psgcell
{
  width: 25%;
  border: solid 1px;
  padding: 10px;
}